*, 
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(3, 21, 3, 0.9);
  height: 4rem;
  width: 100%;
  /* position: fixed;
  top: 0;  */
}

.nav-brand{
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid white 
  ;
  border-radius: 4px;
  background-color: rgba(3, 21, 3, 0.9);
  padding: 10px 15px;
  color: white;
}

.toggle{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
}

.toggle-button{
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background: white;
}
.nav-links ul{
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li{
  list-style: none;
  margin: 0 15px;
}
.nav-links li a{
  position: relative;
  font-size: .8rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1rem .5rem;
  display: block;
  color: white;
  
}

.nav-links a::after{
  content: "";
  position: absolute;
  background: white;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
}
.nav-links a:hover::after{
  width: 100%;
  transition: 0.3s;
}

.login-main{
  height: 80vh;
  border-top: 3px solid goldenrod;
}

.login-form{
  width: 500px;
  margin: auto;
  margin-top: 50px;
}
form {
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
}

input[type=text]:focus, input[type=password]:focus{
  border: 3px solid rgba(3, 21, 3, 0.9);
}

button {
  background-color: rgba(3, 21, 3, 0.9);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}


.container {
  padding: 16px;
}


span.psw {
 float: right;
  padding-top: 16px;
}


@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}




footer{
  background-color: rgba(3, 21, 3, 0.9);
  border-top: 3px solid goldenrod;
  height: 12vh;
  color: white;
}

.footer{
  text-align: center;
  margin-top: 30px ;
  text-transform: capitalize;
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.icon a{
  color: white;
  padding: 0 5px;

}


@media screen and (max-width: 600px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }

  .login-form{
    width: 300px;
  }


    .toggle{
      display: flex;
    }
    .nav-bar{
      flex-direction: column;
      align-items: flex-start
    }
  
  .nav-links{
    display: none;
  }
  
  
  footer{
    width: 100%;
   margin-top: 200px;
   position: absolute;
   bottom: 0;
  }
  
  .footer{
    margin: auto;
    padding: 15px 0;
  }
  
  
}